<!DOCTYPE html>
<html>
  <head>
    <title>shop首页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/index.css' />

  </head>
  <body>
    <div id="header">
        <div class="warp">
            <div class="link">
                <a href="/login">登录</a>
                &nbsp; &nbsp; &nbsp;
                <a href="/reg">注册</a>
            </div>
        </div>
    </div>
    <ul id="nav">
        <li><a href="#">首页</a></li>
        <li><a href="#">所有商品</a></li>
        <li><a href="#">我的定单</a></li>
        <li><a href="#">我的购物车</a></li>
    </ul>
    <div id="content" class="warp">
        <ul class="col"></ul>
        <ul class="col"></ul>
        <ul class="col"></ul>
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/index.js"></script>

  </body>
</html>
